header{
    background-color: rgb(180, 17, 71);
    display: flex;
    flex-wrap: wrap;
    
}
.orden{
    padding-left: 90%;
    margin-top: -80px;
}
h1{
    padding-left: 50px;
    font-size: 50px;
}
