.searcher{
    
    background-image: url(marvel-1100x514.jpg);
    background-repeat: no-repeat;
    
    padding-left: 44%;
    padding-bottom: 200px;
    padding-top: 100px;
    margin-top: -22px;
}
.buscador{
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: rgba(26, 13, 15, 0.9);
    font-style: oblique;
}
